{deps, [
       {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.0"}}}
       ,{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "0.4.4"}}}
       ,{jsx, "1.4.3", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.3"}}}
       ,{erlsh, ".*", {git, "git://github.com/proger/erlsh.git", "HEAD"}}
       ,{fn, "0.3.0", {git, "git://github.com/reiddraper/fn.git", {tag, "0.3.0"}}}
       ]}.
